*{
   font-family: sans-serif;
   box-sizing: border-box;
}
.nav-link{
    font-size: 17px;
    font-weight: normal;
    color: #50656e;

}
.nav-link:hover{
    color: #feba0c;
}
.card-title{
    color: #000000;
    font-size: 18px;
    line-height: 1.3em;
    display: block;
  font-weight: bolder;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.card-text{
    font-size: 15px;
    color: #50656e;
    line-height: 1.4em;
}
#opc{
    background-color: #ea9e10;
    color: white;
}
#opc:hover{
    background-color: #db0007;
    transition-duration: 0.5s;
    transform: scale(1.2) perspective(5px);
 
}
#brand1{
    margin-right: 8%;

}
li{
    margin-right: 3.7%; 
}
i{
    color: #feba0c;
}
i:hover{
        color: black;
}
#a1{
    padding: 2px;
}
#icon{
    padding-right: 0px;
}
#omc{
   text-transform: none;
   text-decoration: none;
}
#svg{
    background-color: #232323;
    color: red;
}
svg{
    fill: white;
    height: 55px;
    width: 100%;
}
footer{
    background-color: #232323;
}
a{
    text-decoration: none;
}
#ficons:hover{
    background-color: grey;
}
span{
    line-height: 1.66em;
    font-size: 14px;
}
#fmc{
    text-decoration: none;
    line-height: 1.3em;
    color: white;
    font-family: "speedee-regular",sans-serif;
    font-weight: bold;
    font-size: 24px;
}
.btn{
    width: 140px;
    height: 39px;
}
nav[role="navigation"] {
    display: flex;
    justify-content: space-around;
  }